main {
  background: linear-gradient(rgb(236, 236, 236), #ffffff, #ffffff, #ffffff);
}

.container {
  max-width: 500px;
  margin: 0 auto 50px;
}

/* header com logo-marca e ancoras (botões) */

header {
  height: 70px;
}

nav {
  text-align: center;
  display: flex;
}

nav a {
  display: inline-block;
  text-decoration: none;
  border: none;
}

.container-nav {
  width: 100%;
  display: flex;
}

.car-logo {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
}

.car {
  height: 30px;
  width: 40px;
}

.name-logo {
  color: rgb(71, 90, 126);
  font-family: monospace;
  font-size: x-large;
  letter-spacing: 2px;
  padding-left: 15px;
}

.anchors {
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
}

.menu {
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(95, 95, 95);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

.menu-login {
  padding: 3px 15px 3px 15px;
  background-color: rgb(245, 155, 46);
  border-radius: 15px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-small;
}

section {
  display: flex;
}

/*- top-container */

.car-family {
  width: 50%;
  padding: 0px 10px 0px 20px;
}
.content-art {
  padding-top: 15px;
}

h1 {
  text-align: left;
  font-family: monospace;
  font-size: 15px;
  line-height: 20px;
  color: rgb(68, 68, 68);
}

h2 {
  color: rgb(86, 128, 62);
  font-family: sans-serif;
  margin-top: 10px;
  font-size: x-small;
}

.paragraph {
  width: 90%;
  font-size: xx-small;
  text-align: justify;
  font-family: system-ui;
  color: rgb(86, 88, 109);
  line-height: 13px;
}

.label {
  color: rgb(236, 124, 41);
  font-family: cursive;
  font-size: small;
}

.div-input {
  width: 90%;
  display: flex;
  border: rgb(191, 191, 191) solid 1.5px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 1px;
  align-items: center;
}

.input {
  width: 90%;
  height: 70%;
  font-size: xx-small;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
  padding: 3px;
  align-items: center;
  box-sizing: border-box;
}

.image-email {
  width: 13%;
  padding-right: 5px;
  padding-left: 5px;
  filter: invert(70%) sepia(49%) saturate(1%) hue-rotate(20deg) brightness(101%)
    contrast(91%);
}

.button {
  background-color: rgb(245, 155, 46);
  border: none;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px 1px 1px 4px;
}

.icone-seta {
  width: 10px;
  align-items: center;
}

/* mid-container */

.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
}

.text-style {
  width: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.text-mid-1 {
  font-family: monospace;
  font-size: small;
  color: #4ec191;
  text-align: center;
  margin: 0 0 10px;
}

.text-mid-2 {
  font-family: sans-serif;
  font-size: x-large;
  color: #273872;
  text-align: center;
  margin: 0;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 60px;
}

.anchor-app {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-small;
  color: #394f76;
  padding-top: 10px;
  cursor: pointer;
}

.services {
  display: flex;
  gap: 5px;
  height: 150px;
  margin: 0 40px 0 40px;
  font-family: system-ui;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  font-family: inherit;
  font-size: small;
}

.service-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #ffffff;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgb(191, 191, 191);
}

.tool {
  width: 30px;
  align-items: center;
  filter: invert(88%) sepia(0%) saturate(373%) hue-rotate(248deg)
    brightness(89%) contrast(87%);
}

.safe {
  width: 30px;
  align-items: center;
  filter: invert(88%) sepia(0%) saturate(373%) hue-rotate(248deg)
    brightness(89%) contrast(87%);
}

.winch {
  width: 30px;
  align-items: center;
  filter: invert(88%) sepia(0%) saturate(373%) hue-rotate(248deg)
    brightness(89%) contrast(87%);
}

.service-txt {
  padding-top: 10px;
  cursor: pointer;
  color: cadetblue;
}

/*bottom-container*/

.bottom-imgs {
  display: flex;
  flex-direction: column;
}

.padlock {
  position: relative;
  left: 60px;
  top: 40px;
  width: 80px;
}

.car-bottom {
  height: 180px;
}

.benefits {
  display: flex;
  flex-direction: column;
}

h5 {
  color: #4c8d82;
  margin: 0%;
  font-size: system-ui;
}

.benefits-title {
  margin: 10px 0 10px 20px;
  font-size: 25px;
  color: #394f76;
}

.benefits-title-2 {
  color: #545455;
  font-size: 10px;
  font-family: system-ui;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 30px;
  font-family: system-ui;
  font-size: 12px;
  color: #616366;
}

.benefits-check-img {
  width: 20px;
  height: 20px;
}

.benefits-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*Footer*/
footer {
  height: 50px;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: end;
  z-index: 999;
}

.footer-container {
  width: 100%;
  display: flex;
  box-shadow: 0px -1px #d1d3d3;
}

.footer-logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.footer-car {
  height: 30px;
  width: 40px;
  padding-left: 20px;
}

.car-safe {
  color: rgb(71, 90, 126);
  font-family: monospace;
  font-size: x-large;
  letter-spacing: 2px;
  padding-left: 15px;
}

.footer-icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  filter: invert(18%) sepia(97%) saturate(1337%) hue-rotate(201deg)
    brightness(106%) contrast(91%);
}

.instagram {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

.facebook {
  width: 20px;
  height: 20px;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 3px;
}

.twitter {
  width: 20px;
  height: 20px;
  padding-right: 20px;
  padding-top: 3px;
}
